flask
flask_sqlalchemy
werkzeug
requests
qrcode
pillow
torch
transformers
textblob
python-dotenv
selenium
promptpay
numpy
pandas
scikit-learn
joblib
pythainlp
scikit-surprise
matplotlib
seaborn
mysql-connector-python
PyJWT
beautifulsoup4
